@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}

body{
  font-family: "Mulish", sans-serif;
}

.container{
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  border: none;
}